*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}
h1{
    font-size: 100px;
}
.score-board{
    font-size: 40px;
    margin-top: 30px;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid rgb(180, 38, 38); */
}

.container{
    border: 2px solid orange;
    padding-bottom: 20px;
    height: 510px;
    width: 510px;
}
h2{
    font-size:40px;
}

.container div{
    display: flex;
    justify-content: space-around;

}

.flex{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
#final h1{
    font-size: 40px;
}
button{
    width: 250px;
    height: 50px;
    background-color: #ffc434;
    margin: 20px 0px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
}

#final{
    display: none;
    margin-top: 70px;
}
#playagain{
    cursor: pointer;
}