@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: rgb(90, 37, 192);
    font-size: 60px;
    margin-top: 55px;
    text-align: center;
}
#flex{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 200px;
}
#btn{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;  
    cursor: pointer;
}
